<% content_for :top_content do %>
  <div class="container">
    <h1>Welcome to goToo!</h1>
    <% unless current_user %>
      <p>Register to get started.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'waves-effect waves-light btn-large' %>
      </p>
    <% end %>


  </div>
<% end %>
