/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'variables';
@import 'materialize';
@import 'font-awesome';

/* Navbar alignment fix */
.left-ish {
  @extend .left;
  margin-left: 10%;
}

/* User Profile Card */
span.right {
  display: inline-block;
}

#name {
  margin: 0 0 -1rem 0;
}
#user-info {
  float: left;
  margin-right: 30%;

  &h6 {
    font-size: 105%;
  }
}

div#map-canvas {
  color: black;
}

#profile-pic {
  height: 5em;
  width: auto;
  display: inline;
}


.head-room { margin-top: .5rem; }

/* Fix for the Toast-dialog flash messages */

@media only screen and (min-width: 993px){
  #toast-container {
    right: 40% !important;
    top: 13% !important;
  }
}
